spring:
  jpa:
    hibernate:
      ddl-auto: update
  datasource:
    schema: classpath:schema.sql
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password: ''
  h2:
    console:
      enabled: true
      path: /h2-console

security:
  secret: "[B@13[B@[B@13[B@1390a43a90a4[B@1390a43a3a1390a[B[B@1390a43a@13[B@1390[B@1390a43aa43a90a43a43a9[B@1390a43a0a43a"
  expiration-time: 60_000
  token-prefix: Bearer
  header-string: Authorization
  rule-user: USER
  secret-arn: arn:aws:secretsmanager:us-east-2:339712897027:secret:secret_assinatura_token-q5kHc0